*
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/build_options.ini
!/composer.json
!/composer.lock
!/lib/
!/lib/**
!/magento-vars.php
!/m2-hotfixes
!/m2-hotfixes/**
!/php.ini
!/update
!/update/.htaccess
!/README.md
!/.github
!/.github/*

!weltpixel_configurations_default.csv
!weltpixel_configurations_modules_admin.csv
!weltpixel_configurations_modules_default.csv

!/pub/media/wysiwyg/pearl_theme
!/pub/media/css_weltpixel
!/pub/media/weltpixel

!/pub/media/css_weltpixel/CategoryPage/css/
!/pub/media/css_weltpixel/CustomFooter/css/
!/pub/media/css_weltpixel/CustomHeader/css/
!/pub/media/css_weltpixel/FrontendOptions/css/
!/pub/media/css_weltpixel/ProductPage/css/